<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DBName" value="PhotoStore"/>
    </appSettings>
    <connectionStrings>
        <add name="CnnStr" connectionString="Data source = (local)\sqlexpress; integrated security = true"/>
    </connectionStrings>
</configuration>